DATABASE_URL=
GEMINI_API_KEY=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_USER=
STRIPE_SECRET_KEY=
SUPABASE_PROJECT_ID=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=